* {
  font-family: helvetica;
}

body {
background-color: black;
text-align: center;
}

h1 {
  font-family: veranda;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

p.intro,
p.secondary {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

h2 {
  font-family: veranda;
  font-weight: 300
  font-size: 42px;
  color: white;
}

p.main {
  font-family: veranda;
  font-size: 21px;
  color: gray;


p.Footer {
  color: gray;
  text-align: right;
}
